@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
        url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    --distance-from-poster: 5;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    display: flex;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    /* Or 0 for no spacing at all */
}

#poster-wrapper {
    width: 750px;
    height: 100%;
    background-image: url('imgs/plant.png');
    background-size: cover;

}

/* If we were to push the wrapper directly, the background would apply to the padded area */
#title-wrapper-position {
    padding-top: 225px;
}

#title-wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#logo {
    filter: invert(1);
    /* 100% invert = black → white */
    width: 150px;
    height: 150px;

}

#website-name {
    font-family: "norsebold";
    color: white;
    font-size: 50px;
}

/* CONTENT */

#content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 229);
}

#content-description {
    margin-top: 12vh;
    margin-left: calc(var(--distance-from-poster)*1vw);
}

.text {
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 70%;
    font-size: 25px;
}

#form-wrapper {
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);

    margin-top: 50px;
    padding-bottom: 60px;
    padding-top: 30px;
    padding-left: calc(var(--distance-from-poster)*1vw);

    display: flex;
    flex-direction: column;
    gap: 30px;


}

#form-input {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-row {
    display: flex;
    gap: 100px;
}

label{
    color: rgb(131, 131, 131);
    font-family:Arial, Helvetica, sans-serif;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"]
 {
  width: 20vw;
  padding: 10px 12px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}